﻿body {
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: Black;
  background-color: White;
  text-transform: none;
}
p {
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
  margin: 0px;
}
.ts0 {
  font-family: 'Arial Unicode MS';
  font-size: 10pt;
}
.ts1 {
  font-family: 'Arial Unicode MS';
  font-size: 28pt;
}
.ts2 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
}
.ts3 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts4 {
  font-family: Verdana;
  font-size: 10pt;
  color: Gray;
}
.ts5 {
  font-family: 'Arial Unicode MS';
  font-size: 48pt;
}
.ts6 {
  font-family: Verdana;
  font-size: 8pt;
}
.ts7 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
}
.ts8 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts9 {
  font-size: 4pt;
}
.ts10 {
  font-family: '@Arial Unicode MS';
  font-size: 16pt;
  font-weight: bold;
}
.ts11 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
}
.ts12 {
  font-family: '@Arial Unicode MS';
  color: Black;
}
.ts13 {
  font-size: 10pt;
  font-style: italic;
}
.ts14 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  color: Black;
}
.ts15 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-style: italic;
  color: Black;
}
.ts16 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
}
.ts17 {
  font-family: '@Arial Unicode MS';
  font-size: 16pt;
  font-weight: bold;
  color: Black;
}
.ts18 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
}
.ts19 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts20 {
  font-family: '@Arial Unicode MS';
  font-size: 6pt;
}
.ts21 {
  font-family: '@Arial Unicode MS';
}
.ts22 {
  font-family: '@Arial Unicode MS';
  font-size: 5pt;
}
.ts23 {
  font-family: '@Arial Unicode MS';
  font-size: 9pt;
  font-style: italic;
  color: Black;
}
.ts24 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
}
.ts25 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
}
.ts26 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
  color: Black;
  background-color: White;
}
.ts27 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  color: Black;
  background-color: White;
}
.ts28 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-style: italic;
  color: Black;
  background-color: White;
}
.ts29 {
  font-family: '@Arial Unicode MS';
  font-size: 5pt;
  font-weight: bold;
}
.ts30 {
  font-family: Arial;
  font-size: 10pt;
}
.ts31 {
  font-family: '@Arial Unicode MS';
  font-size: 5pt;
}
.ts32 {
  font-family: '@Arial Unicode MS';
  font-size: 6pt;
  font-weight: bold;
}
.hs0 {
  font-family: Verdana;
  font-size: 10pt;
  text-decoration: none;
  color: Gray;
}
.hs1 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
a.hs1:hover {
  color: Red;
}
.hs2 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
a.hs2:hover {
  color: Red;
}
.ps0 {
  text-align: center;
}
.ps1 {
  text-align: right;
}
.ps2 {
  padding-top: 5px;
}
.ps3 {
  padding-left: 29.25pt;
}
.ps4 {
  padding-left: 10.31875mm;
}
.ps5 {
  padding-left: 1.031875cm;
  text-align: justify;
}
.ps6 {
  padding-left: 1.031875cm;
}
.ps7 {
  padding-left: 29.25pt;
  text-indent: 27pt;
}
.ps8 {
  padding-left: 19.84375mm;
}
.ps9 {
  padding-left: 10.31875mm;
  line-height: 115%;
}
.ps10 {
  padding-bottom: 10pt;
  padding-left: 10.31875mm;
  text-align: justify;
  line-height: 115%;
}
.ps11 {
  padding-bottom: 10pt;
  padding-left: 10.31875mm;
  line-height: 115%;
}
.ps12 {
  padding-top: 6pt;
  padding-bottom: 6pt;
  padding-left: 10.31875mm;
  text-align: justify;
}
.ps13 {
  padding-left: 10.31875mm;
  text-align: justify;
}
.ps14 {
  padding-left: 10.31875mm;
  text-align: justify;
  line-height: 115%;
}
.ps15 {
  padding-left: 1.031875cm;
  line-height: 115%;
}
.ps16 {
  padding-top: 6pt;
  padding-bottom: 6pt;
  padding-left: 1.031875cm;
  text-align: justify;
}
.ps17 {
  padding-left: 29.25pt;
  text-align: justify;
}
.ps18 {
  padding-left: 1.031875cm;
  text-align: justify;
  line-height: 115%;
}
.ps19 {
  padding-top: 5.95pt;
  padding-bottom: 5.95pt;
  padding-left: 29.2pt;
  text-align: justify;
}
.ps20 {
  padding-left: 29.25pt;
  text-align: justify;
  line-height: 115%;
}
.ps21 {
  padding-top: 6pt;
  padding-bottom: 6pt;
  padding-left: 29.25pt;
  text-align: justify;
}
.block0 {
  padding: 0pt 0pt 6px 0pt;
}
.block1 {
  padding: 0cm 0pt 0cm 10.31875mm;
}
.block2 {
  padding: 0cm 0cm 0cm 1.031875cm;
}