AutoComplete
{
	selected-item-style-name: macMail;
}

.none 
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.skins.BlankSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.skins.BlankSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.BlankSkin");
	selected-up-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.BlankSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
	selected-font-weight: bold;
	show-comma: yes;
}
  
.underline
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	text-decoration: underline;
	font-weight: normal;
	selected-font-weight: bold;
	show-comma: yes;
}
  
.macMail 
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	selected-up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	padding-top: 0;
	padding-bottom: 0;
	text-selected-color: #FFFFFF;
	padding-left: 8;
	padding-right: 8;
	font-weight: normal; 
}

.facebook 
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.skins.FacebookSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	selected-up-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");        
	padding-top: 0;
	padding-bottom: 0;
	text-selected-color: #FFFFFF;
	padding-left: 2;
	padding-right: 5;
	font-weight: normal;                
}

.actionsMenuButton
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 4;			
}

TitleWindow{
	color : #124332;
	background-color: #ffffff;
	header-colors : #D9DFEB, #D9DFEB;
	header-height:19;
	drop-shadow-enabled: true;
	drop-shadow-color :#243322;
	corner-radius :6;
	border-style :solid;
	border-thickness: 1;
	border-color : #243322;
	footer-colors : #243322, #ffffff;
	title-style-name : "titleWindowHeader";
}

.titleWindowHeader{
	font-family :Verdana;
	font-size :11;
	font-weight :bold;
	color :#000000;
}