Application {
   backgroundColor: #533b27;
   backgroundGradientColors: #9bb077, #68cddc;
   backgroundGradientAlphas: 0, 0;
   themeColor: #3366cc;
   color: #000000;
   backgroundImage: Embed(source="../images/fundo_wide.jpg");
}

Menu {
	rollOverColor: #C4CBE1;
	selectionColor: #C4CBE1;
	textSelectedColor: #F2F5F9;
	textRollOverColor: #F8FAFC;
	color: #000202;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
	fontSize: 10;
	cornerRadius: 6;
	borderStyle: solid;
	borderThickness: 1;
	useRollOver: true;
	open-duration: 100;
}

ApplicationControlBar {
   highlightAlphas: 0, 0;
   fillAlphas: 0, 0.14;
   borderThickness: 2;
   backgroundAlpha: 1;
   cornerRadius: 7;
   dropShadowEnabled: true;
   shadowDistance: 3;
   shadowDirection: center;
}

.myList {
    cornerRadius: 10;
    verticalScrollBarStyleName: myVScrollBar
}

.myVScrollBar {
    cornerRadius: 16;
    highlightAlphas: 0, 0;
    fillColors: #0099ff, #0033ff, #000000, #ffffff;
    trackColors: #000000, #ffffff;
    themeColor: #009dff;
}

.gradientHBox {
	colorsConfiguration: 1;
	fillAlphas:  0.01;
	cornerRadius: 1;
	borderThickness: 1;
	borderColors: #000000, #EAEAEA;
	borderAlphas: 1,1;
	bordergradientRatio: 0,255;
	borderSpreadMethod: reflect;
	borderfocalPointRatio: -0.91;
}

DataGrid {
   alternatingItemColors: #ffffff, #f6f9f7;
   headerColors: #eff1f2, #eff1f2;
   horizontalGridLines: false;
   verticalGridLines: true;
   borderThickness: 0;
   dropShadowEnabled: false;
   headerStyleName: "mydataGridHeaderStyle";
}

TextInput {
   borderStyle: solid;
   borderColor: #666666;
   backgroundAlpha: 1;
   letterSpacing: 0;
   paddingRight: 0;
   disabled-color: #000000
}

.paggingButton{
   alternatingItemColors: #ffffff, #f6f9f7;
   headerColors: #eff1f2, #eff1f2;
   horizontalGridLines: false;
   verticalGridLines: true;
   borderThickness: 0;
   dropShadowEnabled: false;
}

.styleExplorerTitle {
	fontFamily: Myriad;
	fontSize: 24;
	color: #FFFFFF;
	fontWeight: normal;
}

.mydataGridHeaderStyle {
   letterSpacing: 0;
}

.customTextAlignLabel {
    textAlign: left;
}
        
.glassPanel {
	backgroundSize: "100%";
	backgroundImage: Embed(source="../images/header.swf#glassHeader");
	paddingTop: 7;
	paddingLeft: 10;
}

.labelMsg{
   fontFamily: Verdana;
   fontSize: 11;
   color: #cc0000;
   fontWeight: bold;
}

.fseVerticalScrollBar {
	downArrowUpSkin: Embed(source="../images/downArrow.png");
	downArrowOverSkin: Embed(source="../images/downArrow.png");
	downArrowDownSkin: Embed(source="../images/downArrow.png");
	upArrowUpSkin: Embed(source="../images/upArrow.png");
	upArrowOverSkin: Embed(source="../images/upArrow.png");
	upArrowDownSkin: Embed(source="../images/upArrow.png");
	thumbDownSkin: Embed(source="../images/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", scaleGridRight="8", scaleGridBottom="7");
	thumbUpSkin: Embed(source="../images/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", scaleGridRight="8", scaleGridBottom="7");
	thumbOverSkin: Embed(source="../images/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", scaleGridRight="8", scaleGridBottom="7");
	trackSkin: Embed(source="../images/scrolltrack.png",
		scaleGridLeft="7", scaleGridTop="4", scaleGridRight="8", scaleGridBottom="6" );	
	
}

.glassPods {
	borderStyle: applicationControlBar;
	fillColors: #FFFFFF, #FFFFFF;
	fillAlphas: 0, 0.25;
	highlightAlphas: 0, 0;
	backgroundColor: #ffffff;
	backgroundAlpha: .2;
	borderThickness: 0;
	dropShadowEnabled: true;
	cornerRadius: 3;
	paddingRight: 0;
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	horizontalScrollBarStyleName: fseVerticalScrollBar;
	verticalScrollBarStyleName: fseVerticalScrollBar;
}

.glassLabels {
	color: #FFFFFF;
	fontSize: 12;
	fontWeight: bold;
	paddingLeft: 0;
	paddingTop: 0;
	fontFamily: Myriad;
}

Form {
	verticalGap: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

FormItem {
	paddingTop: 2;
	paddingBottom: 1;
	verticalGap: 0;
	labelStyleName: "customTextAlignLabel";	
}

RadioButton {
	fontWeight: bold;
}

CheckBox {
	fontWeight: bold;
}

.labelScreenTitle{
	font-size:12;
	fontWeight: bold;
	color: #FFFFFF;		
}

.labelField{
	font-size:10;
	fontWeight: bold;
	color: #FFFFFF;
}

VAccordion {
   headerHeight: 60;
   vertical-gap: 1;
   background-alpha:0;
   background-color:#c0c0c0;
   open-duration:500;
   border-style:none;
   padding-bottom:5;
   header-style-name: gradientHeader;
}
		
.gradientHeader {
    upSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    overSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    downSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    disabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedUpSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedOverSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedDownSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedDisabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    font-family:Arial;
    cornerRadii: 0, 0, 10, 10;
    borderColors: #FFFFFF, #FFFFFF;
    overBorderColors: #FFFFFF, #FFFFFF;
    selectedBorderColors: #FFFFFF, #FFFFFF;
    borderThickness: 2;
    borderAlpha: 1;
    fillColors: #FFFFFF, #FFFFFF;
    fillAlphas: 1, 1;
    fillColorRatios: 0, 255;
    overFillColors: #FFFFFF, #BAC2CF;
    overFillAlphas: 1, 1;
    overFillColorRatios: 0, 169;
    selectedFillColors: #FFFFFF, #BAC2CF;
    selectedFillAlphas: 1,1;
    selectedFillColorRatios: 0, 169;
}

.linkButtonWindowShade {
	header-style-name:headerWindowShade;
    drop-shadow-enabled:true;
    corner-radius:6;
    border-style:solid;
}

.headerWindowShade{
	corner-radius:0;
}

@font-face {
    src: url("../fonts/MyriadWebPro.ttf") ;
    fontFamily: Myriad;
    unicodeRange:
           U+0041-U+005A, /* Upper-Case [A..Z] */
           U+0061-U+007A, /* Lower-Case a-z */
           U+0030-U+0039, /* Numbers [0..9] */
           U+002E-U+002E; /* Period [.] */
}

@font-face {
    src: url("../fonts/MyriadWebPro-Bold.ttf") ;
    fontFamily: Myriad;
    fontWeight: bold;
    unicodeRange:
           U+0041-U+005A; /* Upper-Case [A..Z] */
}