Application {
   backgroundColor: #D9DFEB;
   backgroundGradientColors: #9bb077, #68cddc;
   backgroundGradientAlphas: 0, 0;
   themeColor: #3366cc;
   color: #000000;
}

Menu {
	rollOverColor: #C4CBE1;
	selectionColor: #C4CBE1;
	textSelectedColor: #F2F5F9;
	textRollOverColor: #F8FAFC;
	color: #000202;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
	fontSize: 10;
	cornerRadius: 6;
	borderStyle: solid;
	borderThickness: 1;
	useRollOver: true;
	open-duration: 100;
	z-index: -1;
	z-order:1;
}

ApplicationControlBar {
   highlightAlphas: 0, 0;
   fillAlphas: 0, 0.14;
   borderThickness: 2;
   backgroundAlpha: 1;
   cornerRadius: 7;
   dropShadowEnabled: true;
   shadowDistance: 3;
   shadowDirection: center;
}

.customBox{
	color : #124332;
	header-colors : #D9DFEB, #D9DFEB;
	header-height:19;
	drop-shadow-enabled: true;
	drop-shadow-color :#243322;
	corner-radius :6;
	border-style :solid;
	border-thickness: 1;
	border-color : #243322;
	footer-colors : #243322, #ffffff;
}

Alert{
	color : #124332;
	background-color: #ffffff;
	header-colors : #D9DFEB, #D9DFEB;
	header-height:19;
	drop-shadow-enabled: true;
	drop-shadow-color :#243322;
	corner-radius :6;
	border-style :solid;
	border-thickness: 1;
	border-color : #243322;
	footer-colors : #243322, #ffffff;
	title-style-name : "alertTitle";
}

.alertTitle{
	font-family :Verdana;
	font-size :10;
	font-weight :bold;
	color :#000000;
}

TitleWindow{
	color : #124332;
	background-color: #ffffff;
	header-colors : #D9DFEB, #D9DFEB;
	header-height:19;
	drop-shadow-enabled: true;
	drop-shadow-color :#243322;
	corner-radius :6;
	border-style :solid;
	border-thickness: 1;
	border-color : #243322;
	footer-colors : #243322, #ffffff;
	title-style-name : "titleWindowHeader";
}

.titleWindowHeader{
	font-family :Verdana;
	font-size :11;
	font-weight :bold;
	color :#000000;
}

.cotationPanel{
	color : #124332;
	header-colors : #D9DFEB, #D9DFEB;
	header-height:19;
	drop-shadow-enabled: true;
	drop-shadow-color :#243322;
	corner-radius :4;
	border-style :solid;
	footer-colors : #243322, #ffffff;	
	title-style-name : "panelHeader";
}

.panelHeader{
	font-family :Verdana;
	font-size :11;
	font-weight :bold;
	color :#000000;
}

.gradientHBox {
	colorsConfiguration: 1;
	fillAlphas:  0.01;
	cornerRadius: 1;
	borderThickness: 1;
	borderColors: #000000, #EAEAEA;
	borderAlphas: 1,1;
	bordergradientRatio: 0,255;
	borderSpreadMethod: reflect;
	borderfocalPointRatio: -0.91;
}

DataGrid {
   alternatingItemColors: #ffffff, #f6f9f7;
   headerColors: #eff1f2, #eff1f2;
   horizontalGridLines: false;
   verticalGridLines: true;
   borderThickness: 0;
   dropShadowEnabled: false;
   headerStyleName: "mydataGridHeaderStyle";
}

TextInput {
   borderStyle: solid;
   borderColor: #666666;
   backgroundAlpha: 1;
   letterSpacing: 0;
   paddingRight: 0;
   disabled-color: #000000
}

.styleExplorerTitle {
	fontFamily: Myriad;
	fontSize: 32;
	color: #039;
	fontWeight: normal;
}

.mydataGridHeaderStyle {
   letterSpacing: 0;
   font-weight: bold;
}

.glassPanel {
	backgroundSize: "100%";
	backgroundImage: Embed(source="../images/header.swf#glassHeader");
	paddingTop: 7;
	paddingLeft: 10;
}

.fseVerticalScrollBar {
	downArrowUpSkin: Embed(source="../images/downArrow.png");
	downArrowOverSkin: Embed(source="../images/downArrow.png");
	downArrowDownSkin: Embed(source="../images/downArrow.png");
	upArrowUpSkin: Embed(source="../images/upArrow.png");
	upArrowOverSkin: Embed(source="../images/upArrow.png");
	upArrowDownSkin: Embed(source="../images/upArrow.png");
	thumbDownSkin: Embed(source="../images/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", scaleGridRight="8", scaleGridBottom="7");
	thumbUpSkin: Embed(source="../images/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", scaleGridRight="8", scaleGridBottom="7");
	thumbOverSkin: Embed(source="../images/thumb.png",
		scaleGridLeft="7", scaleGridTop="5", scaleGridRight="8", scaleGridBottom="7");
	trackSkin: Embed(source="../images/scrolltrack.png",
		scaleGridLeft="7", scaleGridTop="4", scaleGridRight="8", scaleGridBottom="6" );	
	
}

.glassPods {
	borderStyle: applicationControlBar;
	fillColors: #FFFFFF, #FFFFFF;
	fillAlphas: 0, 0.25;
	highlightAlphas: 0, 0;
	backgroundColor: #ffffff;
	backgroundAlpha: .2;
	borderThickness: 0;
	dropShadowEnabled: true;
	cornerRadius: 3;
	paddingRight: 0;
	paddingLeft: 0;
	paddingTop: 0;
	paddingBottom: 0;
	horizontalScrollBarStyleName: fseVerticalScrollBar;
	verticalScrollBarStyleName: fseVerticalScrollBar;
}

.glassLabels {
	color: #FFFFFF;
	fontSize: 12;
	fontWeight: bold;
	paddingLeft: 0;
	paddingTop: 0;
	fontFamily: Myriad;
}

Form {
	verticalGap: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

FormItem {
	paddingTop: 2;
	paddingBottom: 1;
	verticalGap: 0;
	labelStyleName: "customFormItemLabel";	
}

.customFormItemLabel {
    textAlign: left;
	font-size:10;
	fontWeight: bold;
	color: #000000;	    
}

RadioButton {
	fontWeight: bold;
}

CheckBox {
	fontWeight: bold;
}

.labelTitlePage{
	font-size:13;
	fontWeight: bold;
	color: #000000;		
}

.labelSubTitlePage{
	font-size:12;
	fontWeight: bold;
	color: #000000;	
}

.labelField{
	font-size:10;
	fontWeight: bold;
	color: #000000;	
}

.labelMessage{
	font-size:11;
	color: #000000;	
}

.labelCopyright{
	font-size:10;
	color: #000000;	
}

.textField{
	font-size:10;
	color: #000000;	
}

VAccordion {
   headerHeight: 60;
   vertical-gap: 1;
   background-alpha:0;
   background-color:#c0c0c0;
   open-duration:500;
   border-style:none;
   padding-bottom:5;
   header-style-name: gradientHeader;
}
		
.gradientHeader {
    upSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    overSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    downSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    disabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedUpSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedOverSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedDownSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedDisabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    font-family:Arial;
    cornerRadii: 0, 0, 10, 10;
    borderColors: #FFFFFF, #FFFFFF;
    overBorderColors: #FFFFFF, #FFFFFF;
    selectedBorderColors: #FFFFFF, #FFFFFF;
    borderThickness: 2;
    borderAlpha: 1;
    fillColors: #FFFFFF, #FFFFFF;
    fillAlphas: 1, 1;
    fillColorRatios: 0, 255;
    overFillColors: #FFFFFF, #BAC2CF;
    overFillAlphas: 1, 1;
    overFillColorRatios: 0, 169;
    selectedFillColors: #FFFFFF, #BAC2CF;
    selectedFillAlphas: 1,1;
    selectedFillColorRatios: 0, 169;
}

.cotationWindowShade {
    header-style-name:cotationHeaderWindowShade;
    drop-shadow-enabled:true;
    drop-shadow-color :#243322;
    border-style:solid;
    background-color:#ffffff;
    padding-left: 10;
    padding-right: 3;
    border-color:#ffffff;
    corner-radius:4;
}

.cotationHeaderWindowShade {
    fill-colors : #D9DFEB, #D9DFEB;
    corner-radius:4;
    font-family :Verdana;
    font-size :11;
    font-weight :bold;
}

.linkButtonWindowShade {
	header-style-name:headerWindowShade;
    drop-shadow-enabled:true;
    corner-radius:6;
    border-style:solid;
}

.headerWindowShade{
	corner-radius:0;
}

AutoComplete
{
	selected-item-style-name: macMail;
}

.none 
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
	selected-font-weight: bold;
	show-comma: yes;
}
  
.underline
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	text-decoration: underline;
	font-weight: normal;
	selected-font-weight: bold;
	show-comma: yes;
}
  
.macMail 
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	selected-up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.MacMailSkin");
	padding-top: 0;
	padding-bottom: 0;
	text-selected-color: #FFFFFF;
	padding-left: 8;
	padding-right: 8;
	font-weight: normal; 
}

.facebook 
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	selected-up-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.FacebookSkin");        
	padding-top: 0;
	padding-bottom: 0;
	text-selected-color: #FFFFFF;
	padding-left: 2;
	padding-right: 5;
	font-weight: normal;                
}

.actionsMenuButton
{
	over-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	up-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	down-skin: ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("br.com.tratomais.einsurance.core.components.advancedAutoComplete.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 4;			
}
@font-face {
    src: url("../fonts/MyriadWebPro.ttf") ;
    fontFamily: Myriad;
    unicodeRange:
           U+0041-U+005A, /* Upper-Case [A..Z] */
           U+0061-U+007A, /* Lower-Case a-z */
           U+0030-U+0039, /* Numbers [0..9] */
           U+002E-U+002E; /* Period [.] */
}

@font-face {
    src: url("../fonts/MyriadWebPro-Bold.ttf") ;
    fontFamily: Myriad;
    fontWeight: bold;
    unicodeRange:
           U+0041-U+005A; /* Upper-Case [A..Z] */
}