﻿body {
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: Black;
  background-color: White;
  text-transform: none;
}
p {
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
  margin: 0px;
}
.ts0 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts1 {
  font-family: 'Arial Unicode MS';
  font-size: 48pt;
}
.ts2 {
  font-family: 'Arial Unicode MS';
  font-size: 10pt;
}
.ts3 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
}
.ts4 {
  font-family: Verdana;
  font-size: 10pt;
  color: Gray;
}
.ts5 {
  font-family: 'Arial Unicode MS';
  font-size: 28pt;
}
.ts6 {
  font-family: Verdana;
  font-size: 8pt;
}
.ts7 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
}
.ts8 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts9 {
  font-size: 4pt;
}
.ts10 {
  font-family: '@Arial Unicode MS';
  color: Black;
}
.ts11 {
  font-family: '@Arial Unicode MS';
}
.ts12 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
  font-style: italic;
  color: Black;
}
.ts13 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
  font-style: italic;
}
.ts14 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
  color: Black;
}
.ts15 {
  font-family: '@Arial Unicode MS';
}
.ts16 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
}
.ts17 {
  font-family: '@Arial Unicode MS';
  font-style: italic;
}
.ts18 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
}
.ts19 {
  font-family: '@Arial Unicode MS';
  font-style: italic;
  color: Black;
}
.ts20 {
  font-family: '@Arial Unicode MS';
  text-decoration: underline;
  color: Black;
}
.ts21 {
  font-family: '@Arial Unicode MS';
  font-style: italic;
  text-decoration: underline;
}
.ts22 {
  font-family: '@Arial Unicode MS';
  text-decoration: underline;
}
.ts23 {
  font-family: 'Arial Unicode MS';
  font-weight: bold;
  color: Black;
}
.ts24 {
  font-family: '@Arial Unicode MS';
  font-size: 11pt;
  font-weight: bold;
  color: Black;
}
.ts25 {
  font-family: '@Arial Unicode MS';
  font-size: 11pt;
  color: Black;
}
.hs0 {
  font-family: Verdana;
  font-size: 10pt;
  text-decoration: none;
  color: Gray;
}
.hs1 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
a.hs1:hover {
  color: Red;
}
.hs2 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
a.hs2:hover {
  font-family: Verdana;
  font-size: 8pt;
  font-weight: normal;
  color: Red;
}
.ps0 {
  text-align: right;
}
.ps1 {
  text-align: center;
}
.ps2 {
  padding-top: 5px;
}
.ps3 {
  padding-left: 29.25pt;
  text-align: justify;
}
.ps4 {
  padding-left: 29.25pt;
}
.ps5 {
  padding-bottom: 10pt;
  padding-left: 22.225mm;
  text-indent: -7.14375mm;
  text-align: justify;
  line-height: 115%;
}
.ps6 {
  padding-bottom: 10pt;
  padding-left: 63pt;
  text-indent: -20.25pt;
  text-align: justify;
  line-height: 115%;
}
.ps7 {
  padding-bottom: 10pt;
  padding-left: 63pt;
  text-align: justify;
  line-height: 115%;
}
.ps8 {
  padding-left: 29.25pt;
  text-align: center;
}
.ps9 {
  padding-left: 42.75pt;
}
.ps10 {
  padding-bottom: 10pt;
  padding-left: 42.75pt;
  text-align: justify;
  line-height: 115%;
}
.ps11 {
  padding-bottom: 10pt;
  padding-left: 90pt;
  text-indent: -47.25pt;
  text-align: justify;
  line-height: 115%;
}
.ps12 {
  padding-left: 42.75pt;
  text-align: justify;
}
.ps13 {
  padding-bottom: 10pt;
  padding-left: 83.25pt;
  text-indent: -20.25pt;
  text-align: justify;
  line-height: 115%;
}
.ps14 {
  padding-bottom: 10pt;
  padding-left: 72pt;
  text-indent: -18pt;
  text-align: justify;
  line-height: 115%;
}
.ps15 {
  padding-bottom: 10pt;
  padding-left: 42.75pt;
  line-height: 115%;
}
.ps16 {
  padding-bottom: 0.35cm;
  padding-left: 1.51cm;
  text-align: justify;
}
.ps17 {
  padding-bottom: 10pt;
  padding-left: 130.5pt;
  text-indent: -67.5pt;
  text-align: justify;
  line-height: 115%;
}
.ps18 {
  padding-bottom: 10pt;
  padding-left: 29.25pt;
  text-align: justify;
  line-height: 115%;
}
.ps19 {
  padding-bottom: 10pt;
  padding-left: 36pt;
  text-align: justify;
  line-height: 115%;
}
.ps20 {
  padding-bottom: 10pt;
  padding-left: 63pt;
  line-height: 115%;
}
.ps21 {
  padding-bottom: 10pt;
  text-align: justify;
  line-height: 115%;
}
.ps22 {
  padding-bottom: 10pt;
  padding-left: 29.36875mm;
  text-indent: -7.14375mm;
  text-align: justify;
  line-height: 115%;
}
.ps23 {
  padding-bottom: 10pt;
  padding-left: 63pt;
  text-indent: 1.5pt;
  text-align: justify;
  line-height: 115%;
}
.ps24 {
  padding-bottom: 10pt;
  padding-left: 34.13125mm;
  text-indent: -4.7625mm;
  text-align: justify;
  line-height: 115%;
}
.ps25 {
  padding-bottom: 10pt;
  padding-left: 96.75pt;
  text-indent: -54pt;
  text-align: justify;
  line-height: 115%;
}
.ps26 {
  padding-bottom: 10pt;
  padding-left: 38.89375mm;
  text-indent: -9.525mm;
  text-align: justify;
  line-height: 115%;
}
.ps27 {
  padding-bottom: 10pt;
  padding-left: 15.08125mm;
  text-align: justify;
  line-height: 115%;
}
.ps28 {
  padding-bottom: 10pt;
  padding-left: 83.25pt;
  line-height: 115%;
}
.ps29 {
  padding-bottom: 10pt;
  padding-left: 2.11666666666667mm;
  text-indent: 20.1083333333333mm;
  text-align: justify;
  line-height: 115%;
}
.ps30 {
  padding-bottom: 10pt;
  padding-left: 12.9645833333333mm;
  text-indent: 9.26041666666667mm;
  text-align: justify;
  line-height: 115%;
}
.ps31 {
  padding-bottom: 10pt;
  padding-left: 36.5125mm;
  text-indent: -7.14375mm;
  text-align: justify;
  line-height: 115%;
}
.block0 {
  padding: 0pt 0pt 6px 0pt;
}