﻿body {
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: Black;
  background-color: White;
  text-transform: none;
}
p {
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
  margin: 0px;
}
.ts0 {
  font-family: 'Arial Unicode MS';
  font-size: 10pt;
}
.ts1 {
  font-family: 'Arial Unicode MS';
  font-size: 28pt;
}
.ts2 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
}
.ts3 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts4 {
  font-family: Verdana;
  font-size: 10pt;
  color: Gray;
}
.ts5 {
  font-family: Verdana;
  font-size: 8pt;
}
.ts6 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
}
.ts7 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts8 {
  font-size: 4pt;
}
.ts9 {
  font-family: '@Arial Unicode MS';
  font-size: 16pt;
  font-weight: bold;
  color: Black;
}
.ts10 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
}
.ts11 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
}
.ts12 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
  color: Black;
}
.ts13 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
}
.ts14 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  color: Black;
}
.ts15 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
  font-style: italic;
  color: Black;
}
.ts16 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts17 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
}
.ts18 {
  font-family: '@Arial Unicode MS';
  font-size: 8pt;
}
.ts19 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
}
.ts20 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
}
.ts21 {
  font-family: Arial;
  font-size: 10pt;
}
.ts22 {
  font-family: Arial;
  font-size: 10pt;
  color: Black;
}
.ts23 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
  font-style: italic;
}
.ts24 {
  font-family: '@Arial Unicode MS';
  font-size: 8pt;
}
.ts25 {
  font-family: 'Courier New';
  font-size: 10pt;
  color: Blue;
}
.ts26 {
  font-family: 'Courier New';
  font-size: 10pt;
  color: Fuchsia;
}
.ts27 {
  font-family: 'Courier New';
  font-size: 10pt;
  color: Red;
}
.ts28 {
  font-family: 'Courier New';
  font-size: 10pt;
}
.ts29 {
  font-family: 'Courier New';
  font-size: 10pt;
  color: Purple;
}
.ts30 {
  font-family: 'Courier New';
  font-size: 10pt;
  font-style: italic;
  color: Green;
}
.ts31 {
  font-family: 'Courier New';
  font-size: 10pt;
}
.ts32 {
  font-family: '@Arial Unicode MS';
}
.ts33 {
  font-family: '@Arial Unicode MS';
  font-size: 8pt;
  font-weight: bold;
}
.ts34 {
  font-family: 'Courier New';
  font-size: 10pt;
  font-weight: bold;
}
.ts35 {
  font-family: 'Courier New';
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts36 {
  font-family: '@Arial Unicode MS';
  font-weight: bold;
}
.ts37 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  text-decoration: underline;
  color: Black;
}
.ts38 {
  font-family: 'Courier New';
  font-size: 10pt;
  color: Green;
}
.ts39 {
  font-family: '@Arial Unicode MS';
  font-size: 9pt;
}
.ts40 {
  font-family: 'Courier New';
  font-size: 8pt;
}
.ts41 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  font-weight: bold;
  color: Red;
}
.ts42 {
  font-family: '@Arial Unicode MS';
  font-size: 8pt;
  font-weight: bold;
  color: Red;
}
.ts43 {
  font-family: '@Arial Unicode MS';
  font-size: 8pt;
  color: Red;
}
.ts44 {
  font-family: '@Arial Unicode MS';
  font-size: 8pt;
}
.ts45 {
  font-family: 'Courier New';
  font-size: 10pt;
  font-weight: bold;
  color: Red;
}
.ts46 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  color: Red;
}
.hs0 {
  font-family: Verdana;
  font-size: 10pt;
  text-decoration: none;
  color: Gray;
}
.hs1 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
a.hs1:hover {
  color: Red;
}
.hs2 {
  font-family: '@Arial Unicode MS';
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
a.hs2:hover {
  color: Red;
}
.hs3 {
  font-family: 'Courier New';
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
a.hs3:hover {
  color: Red;
}
.ps0 {
  text-align: center;
}
.ps1 {
  padding-top: 5px;
}
.ps2 {
  text-align: right;
}
.ps3 {
  padding-left: 29.25pt;
  text-align: justify;
}
.ps4 {
  padding-left: 1.031875cm;
  text-align: justify;
}
.ps5 {
  padding-left: 12.9645833333333mm;
  text-align: justify;
}
.ps6 {
  padding-left: 1.29645833333333cm;
  text-align: justify;
}
.ps7 {
  padding-left: 0.079375cm;
  text-align: justify;
}
.ps8 {
  padding-left: 29.25pt;
}
.ps9 {
  padding-left: 2.2225cm;
  text-indent: -0.238125cm;
  text-align: justify;
}
.ps10 {
  text-align: justify;
}
.ps11 {
  padding-left: 6.75pt;
  text-align: justify;
}
.ps12 {
  padding-left: 6.75pt;
}
.ps13 {
  padding-left: 2.59291666666667cm;
  text-indent: -0.238125cm;
  text-align: justify;
}
.ps14 {
  padding-left: 3.889375cm;
  text-indent: -1.905cm;
  text-align: justify;
}
.ps15 {
  padding-left: 2.59291666666667cm;
}
.ps16 {
  padding-left: 73.5pt;
}
.ps17 {
  padding-left: 2.25pt;
}
.ps18 {
  padding-left: 1.984375cm;
  text-align: justify;
}
.ps19 {
  padding-left: 2.59291666666667cm;
  text-align: justify;
}
.ps20 {
  padding-left: 2.69875cm;
  text-indent: -0.238125cm;
  text-align: justify;
}
.ps21 {
  padding-left: 4.365625cm;
}
.ps22 {
  padding-left: 1.508125cm;
  text-align: justify;
}
.block0 {
  padding: 0pt 0pt 6px 0pt;
}
.block1 {
  padding: 0cm 0cm 0cm 1.031875cm;
}
.block2 {
  padding: 0cm 0cm 0cm 0.079375cm;
}
.block3 {
  padding: 0cm 0cm 0cm 0.079375cm;
}
.block4 {
  padding: 0cm 0cm 0cm -0.079375cm;
}